@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap");
/* CSS Document */

html,
body {
  width: auto;
  height: auto;
  font-family: "Noto Sans KR", sans-serif;
}
a {
  text-decoration-line: none;
}
.container {
  padding-top: 3%;
  width: 50%;
}
.card {
  box-shadow: -1px 15px 30px -10px black;
}
.card-s-bg:hover {
  background-color: #d6d6ff;
  cursor: pointer;
  transition: all 1s ease;
  transform: scale(1.04);
}
.card-footer {
  justify-content: space-around;
  text-align: center;
  display: flex;
  padding: 0px !important;
}
.card-footer div {
  flex-grow: 1 !important;
  border-right: 1px solid #dbdbdb;
  padding: 50px 0;
}
.card-footer div:last-child {
  border-right: none;
}
.table-wrap {
  overflow-x: scroll;
}

.table {
  height: auto;
  width: auto;
  background: #fff;
}
.table thead.thead-primary {
  background: #1089ff;
}
.table thead th {
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
}
.table tbody tr {
  margin-bottom: 10px;
}
.table tbody th,
.table tbody td {
  border: none;
  padding: 20px 30px;
  border-bottom: 3px solid #f8f9fd;
  font-size: 16px;
}
.loader {
  position: absolute;
  left: 57%;
  top: 50%;
  z-index: 1;
  width: 100px;
  height: 100px;

  margin: -75px 0 0 -75px;

  border: 16px solid #f3f3f3;

  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 80px;
  height: 80px;

  -webkit-animation: spin 2s linear infinite;

  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
